.completion{
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-bottom: 14%;
  box-sizing: border-box;

}

.completion p{
  font-size: 18px;
  font-weight: 500;
  margin: 10px;
}

.completion img{
  object-fit: cover;
  height: 300px;
  width: 300px;
  margin-bottom: 50px;
}

#completion-last-message{
  margin-bottom: 30px;
}