.question-display{
  width: 88%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  margin: 0 0 14% 5%;
  padding: 5% 0 0 0;
  box-sizing: border-box;

  box-shadow: 0 0 6px 1px 	#D3D3D3;
  border: 1px solid #808080;
  border-radius: 3px;

  background: white;
}

.question-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question-form #qf-header{
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

.question-form #qf-question{
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
}