.question-display{
  width: 88%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  margin: 0 0 15% 5%;
  padding: 5% 0 0 0;
  box-sizing: border-box;

  border: 1px solid black;
  border-radius: 3px;

  background: white;
}

.question-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question-form #qf-header{
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

.question-form #qf-question{
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
}